<div class="px-6">
  <a
    href="/"
    class="px-6 inline-flex items-center text-black bg-amber-200 hover:bg-amber-400 focus:ring-4 focus:ring-green-300 font-extrabold rounded-lg text-4xl px-5 py-2.5 mr-2 mb-2 tech-blog-button"
  >The Tech Blog</a>
</div>

<div class="p-6">
  <div
    class="p-6 bg-fuchsia-100 border border-gray-200 rounded-lg shadow dark:border-gray-700"
  >

    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 bg-fuchsia-50"
    >{{title}}</h5>

    <h1 class="mb-3 font-light text-gray-700 bg-fuchsia-100">Created by
      {{comment.user_username}}
      on
      {{date}}</h1>
    <p class="mb-3 font-normal text-gray-700 bg-fuchsia-100">
      {{description}}</p>

  </div>
</div>

{{#if comments.length}}

  {{#each comments as |comment|}}
    <div class="p-6">
      <div
        class="p-6 border border-gray-200 rounded-lg shadow bg-indigo-100 dark:border-gray-700"
      >
        <h4
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 bg-indigo-50"
        >Comment by {{comment.user_username}}</h4>
        <h4 class="mb-3 font-light text-gray-700 bg-indigo-100">Created on
          {{comment.date}}</h4>
        <p class="mb-3 font-normal text-gray-700 bg-indigo-100">
          {{comment.comment_description}}</p>

      </div>
    </div>
  {{/each}}

{{else}}
  <p class="text-lg">Your comments will appear here</p>
{{/if}}