<div class="px-6">
  <a
    href="/"
    class="px-6 shadow-amber-300/50 inline-flex items-center text-black bg-amber-200 hover:bg-amber-400 focus:ring-4 focus:ring-green-300 font-extrabold rounded-lg text-4xl px-5 py-2.5 mr-2 mb-2 tech-blog-button"
  >The Tech Blog</a>
</div>

<div class="p-6">
  <div
    class="p-6 bg-fuchsia-100 border border-gray-200 rounded-lg shadow dark:border-gray-700"
  >
    <div class="flow-root bg-fuchsia-50">
      <div>
        <h5
          class="pl-2 float-left mb-2 text-2xl font-bold tracking-tight text-gray-900"
        >{{title}}</h5>
      </div>
      <div>
        <h1 class="pr-2 float-right mb-3 font-light text-gray-700">Created by
          {{user.username}}
          on
          {{date}}</h1>
      </div>
    </div>

    <p class="pl-2 my-3 font-normal text-gray-700 bg-fuchsia-100">
      {{description}}</p>

  </div>
</div>

{{#if comments.length}}
  {{#each comments as |comment|}}
    <div class="p-6">
      <div
        class="p-6 border border-gray-200 rounded-lg shadow bg-indigo-100 dark:border-gray-700"
      >
        <div class="flow-root bg-indigo-50">
          <div>
            <h4
              class="pl-2 float-left mb-2 text-2xl font-bold tracking-tight text-gray-900"
            >Comment by {{comment.user_username}}</h4>
          </div>
          <div>
            <h4 class="pr-2 float-right mb-2 font-light text-gray-700">Created
              on
              {{comment.date}}</h4>
          </div>
        </div>
        <p class="pl-2 my-3 font-normal text-gray-700 bg-indigo-100">
          {{comment.comment_description}}</p>

      </div>
    </div>
  {{/each}}

{{else}}
  <div class="p-6">
    <p class="text-lg">No comments yet</p>
  </div>
{{/if}}

<div class="px-6">
  <a
    href="/comment-add/{{blog_id}}"
    class="px-6 inline-flex items-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >Add a new comment</a>
</div>