<div class="flex mb-4 bg-orange-200">
  <div class="flex1 bg-gray-500 h-12 p-2">
    <h1>
      <a href="/">The Tech Blog</a>
    </h1>
  </div>
</div>

{{#each blogs as |blog|}}
  <div class="p-6">
    <div
      class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >

      <a href="/comment-add/{{blog_id}}"><h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >{{title}}</h5></a>

      <h4 class="mb-3 font-normal text-gray-700 dark:text-gray-400">Created by
        {{user.username}}
        on
        {{date}}</h4>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{description}}</p>
      <a
        href="/comment-add/{{blog_id}}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Comment
        <svg
          class="w-3.5 h-3.5 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>

    </div>
  </div>
{{/each}}

{{!-- {{#each blogs as |blog|}}
  <div class="row mb-4">
    <div class="col-md-5">

      <div class="mb-4 blog-button">
        <button
          data-id="{{blog_id}}"
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600"
        >
          {{title}}
        </button>
      </div>

      <p>

        <p>Created by {{user.username}} on {{date}}</p>

      </p>

    </div>
    <div class="col-md-7">
      <p>
        {{description}}
      </p>
    </div>
  </div>
{{/each}} --}}

{{! <script src="./js/homepage.js"></script> }}