<div class="px-6">
  <a
    href="/"
    class="px-6 shadow-amber-300/50 inline-flex items-center text-black bg-amber-200 hover:bg-amber-400 focus:ring-4 focus:ring-green-300 font-extrabold rounded-lg text-4xl px-5 py-2.5 mr-2 mb-2 tech-blog-button"
  >The Tech Blog</a>
</div>

{{! Display all blogs by all users  }}
{{#each blogs as |blog|}}
  <div class="p-6">
    <div
      class="p-6 bg-fuchsia-100 border border-gray-200 rounded-lg shadow dark:border-gray-700"
    >

      <div class="flow-root bg-fuchsia-50">
        <div>
          <a href="/comment-add/{{blog_id}}"><h5
              class="pl-2 float-left mb-2 text-2xl font-bold tracking-tight text-gray-900"
            >{{title}}</h5></a>
        </div>
        <div>
          <h4 class="pr-2 float-right mb-3 font-light text-gray-700">Created by
            {{user.username}}
            on
            {{date}}</h4>
        </div>
      </div>

      <p class="pl-2 my-3 font-normal text-gray-700 bg-fuchsia-100">
        {{description}}</p>
      {{! Button to add comment  }}
      <a
        href="/comment-add/{{blog_id}}"
        class="pl-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Comment
        <svg
          class="w-3.5 h-3.5 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>

    </div>
  </div>
{{/each}}

<script src="./js/homepage.js"></script>