<h1>

  <a href="/">The Tech Blog</a>
</h1>

{{#each blogs as |blog|}}
  <div class="row mb-4">
    <div class="col-md-5">
      <h2>

        <a href="/comment-add/{{blog_id}}">{{title}}</a>
      </h2>
      <p>

        <p>Created by {{user.username}} on {{date}}</p>

      </p>

    </div>
    <div class="col-md-7">
      <p>
        {{description}}
      </p>
    </div>
  </div>
{{/each}}

{{!-- {{#each blogs as |blog|}}
  <div class="row mb-4">
    <div class="col-md-5">

      <div class="mb-4 blog-button">
        <button
          data-id="{{blog_id}}"
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600"
        >
          {{title}}
        </button>
      </div>

      <p>

        <p>Created by {{user.username}} on {{date}}</p>

      </p>

    </div>
    <div class="col-md-7">
      <p>
        {{description}}
      </p>
    </div>
  </div>
{{/each}} --}}

{{! <script src="./js/homepage.js"></script> }}